<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.thinmoo.flutterplugin">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <!-- 定位权限，高版本的蓝牙可能需要定位配置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application>
        <service
            android:name="com.intelligoo.sdk.BluetoothLeService"
            android:enabled="true"
            android:exported="true"/>
    </application>
</manifest>
